<div class="release-page">

  <p class="release-page-title">
  <h2 class="release-artist">{{model.artist}}</h2>
  <h3>{{model.title}}</h3>
  </p>

  <img class="lg-image" src={{model.image}}>
  <p><b>{{model.year}}</b><button class="add-button" {{action 'addToCollection' model}}> + </button></p>
  <p class="description">{{model.description}}</p>

  {{new-review saveReview2="saveReview3" release=model}}

  <div class="new-review">
    <ul>
      {{#each model.reviews as |review|}}
        {{review-tile review=review}}
      {{/each}}
    </ul>
  </div>
</div>
